<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>main</header>
    <!--login--><!--로그인을 해야 하는 링크 생성-->
    <!--로그인이 되어있다고 하면, 로그아웃 버튼으로 바뀌어야 한다. 이는 아이디로 판별-->
    <div th:unless="${userId}">
        <a href="/loginform">Login</a>
    </div>
    <div th:if="${userId}">
        <a href="/logout">Logout</a>
    </div>

<nav>
    <ul>
        <li><a href="/service1">service1</a></li>
        <li><a href="/service2">service2</a></li>
    </ul>
    <ul>
        <li><a href="/admin1">관리자 기능</a></li>
        <li><a href="/admin2">관리자 기능2</a></li>
    </ul>
</nav>

<section>
    <div><img src="" alt=""></div>
</section>

</body>
</html>