<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌석 관리 시스템</title>
</head>
<body>

<form action = "/seats">
    <th:block th:each="seat, s : ${seats}">
        <input type="checkbox" th:name="|ans${s.index + 1}|" th:checked="${seat}" id="">
        [[${s.index + 1}]]
        <br>
    </th:block>

    <button type="submit"> 확인</button>
</form>




<!--<form>-->
<!--    <h3>좌석 관리 시스템</h3>-->
<!--    <input type="checkbox" name="seats" id="seat1" value="s1">-->
<!--    <label for="seat1">1</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat2" value="s2">-->
<!--    <label for="seat2">2</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat3" value="s3">-->
<!--    <label for="seat3">3</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat4" value="s4">-->
<!--    <label for="seat4">4</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat5" value="s5">-->
<!--    <label for="seat5">5</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat6" value="s6">-->
<!--    <label for="seat6">6</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat7" value="s7">-->
<!--    <label for="seat7">7</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat8" value="s8">-->
<!--    <label for="seat8">8</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat9" value="s9">-->
<!--    <label for="seat9">9</label><br>-->
<!--    <input type="checkbox" name="seats" id="seat10" value="s10">-->
<!--    <label for="seat10">10</label><br>-->
<!--</form>-->

<div>
    []
</div>

</body>
</html>