<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip Survey</title>
</head>
<body>
<form action="/surveyresult">
    <h2>질문1: 여행에 대한 만족드는? (1)</h2>
    <input type="radio" name="trip1" id="trip1vus">
    <label for="trip1vus">매우 불만족</label>
    <input type="radio" name="trip1" id="trip1us">
    <label for="trip1us">불만족</label>
    <input type="radio" name="trip1" id="trip1ok">
    <label for="trip1ok">대체로 만족</label>
    <input type="radio" name="trip1" id="trip1s">
    <label for="trip1s">만족</label>
    <input type="radio" name="trip1" id="trip1vs">
    <label for="trip1vs">매우 만족</label>

    <h2>질문2: 여행에 대한 만족도는? (2)</h2>
    <input type="radio" name="trip1" id="trip2vus">
    <label for="trip2vus">매우 불만족</label>
    <input type="radio" name="trip1" id="trip2us">
    <label for="trip2us">불만족</label>
    <input type="radio" name="trip1" id="trip2ok">
    <label for="trip2ok">대체로 만족</label>
    <input type="radio" name="trip1" id="trip2s">
    <label for="trip2s">만족</label>
    <input type="radio" name="trip1" id="trip2vs">
    <label for="trip2vs">매우 만족</label>

    <h2>질문3: 여행에 대한 만족도는? (3)</h2>
    <input type="radio" name="trip1" id="trip3vus">
    <label for="trip3vus">매우 불만족</label>
    <input type="radio" name="trip1" id="trip3us">
    <label for="trip3us">불만족</label>
    <input type="radio" name="trip1" id="trip3ok">
    <label for="trip3ok">대체로 만족</label>
    <input type="radio" name="trip1" id="trip3s">
    <label for="trip3s">만족</label>
    <input type="radio" name="trip1" id="trip3vs">
    <label for="trip3vs">매우 만족</label>

    <h2>질문4: 기타 하고 싶은 말은?</h2>
    <input type="text" name="" id="suggestion" value="없음">

    <h2>잘문5: 가장 친절한 직원은?</h2>
    <input type="text" name="" id="kindest">

    <h2>질문6: 여행에 대한 만족도는? (6)</h2>
    <input type="radio" name="trip6" id="trip6vus">
    <label for="trip6vus">매우 불만족</label>
    <input type="radio" name="trip6" id="trip6us">
    <label for="trip6us">불만족</label>
    <input type="radio" name="trip6" id="trip6ok">
    <label for="trip6ok">대체로 만족</label>
    <input type="radio" name="trip6" id="trip6s">
    <label for="trip6s">만족</label>
    <input type="radio" name="trip6" id="trip6vs">
    <label for="trip6vs">매우 만족</label>

    <h2>질문7: 응원의 말은?</h2>
    <input type="text" name="" id="">
    <br><br>

    <button type="submit">제출</button>

</form>

</body>
</html>